.jsdBTN_1
	width: 30px !important
.jsd_HScroll
	margin: 0 auto
	border: 1px solid var(--border)
	background: var(--bg-1)
	height: 26px
	width: 75px
	border-radius: 32px
.jsdBTN_1,.jsdBTN_2
	position: relative
	cursor: pointer
	&.prog:not(.done) svg.jsdSVG_r
		display: block
	&.prog:not(.done) .svd_dlI
		display: none
svg.jsdSVG_r
	--c: 113.1
	display: none
	height: 24px
	flex-shrink: 0
	fill: none
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	circle, path
		transform-origin: center
		stroke: var(--primary)
	circle
		stroke-width: 2px
		stroke: var(--text-3)
		stroke-dasharray: 1, 200
		stroke-dashoffset: 0
		stroke-linecap: round
	.prog & circle
		animation: dash 1.5s ease-in-out infinite,rotate 2s linear infinite
@keyframes dash
	0%
		stroke-dasharray: 1, 200
		stroke-dashoffset: 0
	50%
		stroke-dasharray: 89, 200
		stroke-dashoffset: -35
	100%
		stroke-dasharray: 89, 200
		stroke-dashoffset: -132
@keyframes rotate
	100%
		transform: rotate(360deg)