.download-status {
	background: rgb(255, 255, 255);
	padding: 2px 10px;
	color: #0c0c0c;
	position: relative;
}

.download-status p {
	font-size: 10px;
}

.download-status .progress {
	height: 2px;
	background: #4CAF50;
	position: absolute;
	top: 0;
	left: 0;
}

.status-right {
	float: right;
	margin-top: -16px !important;
}

.c-toast {
	pointer-events: none;
}

.c-toast__msg {
	pointer-events: auto;
	box-shadow: 0 0 12px 4px rgb(0 0 0 / 5%);
}

.c-aside--fixed {
	margin-top: 63px !important;
	margin-bottom: 79px !important;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}


.o-snippet__action-final {
	padding-right: 8px;
}

@media (max-width: 61.25em) {
	#quality-dropdown {
		right: auto;
		left: 11px
	}
}
.this{
	background-color: red !important;
}
#song-biterate {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#song-biterate>.o-list-select__item {
	width: 100%;
}

@media (min-width: 61.25em) {
	.c-search {
		right: 23em !important;
		left: 20em !important;
	}
}